<div class="main-content">
    <div class="container-fluid">  
        <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title"><i class="material-icons icon-text mr-2">waves</i>Frequency</h4>
                  </div>
                  <div class="card-body">
                      <div class="tab-pane active" id="profile">
                          <div class="col-md-12">
                              <div class="card card-chart">
                                  <div class="card-header">
                                      <div class="ct-chart back-color" id="frequencyChart"></div>
                                  </div>
                                  <div class="card-body">
  
                                  </div>
                                  <div class="card-footer">
  
                                  </div>
                              </div>
                          </div>
                </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"><i class="material-icons icon-text mr-2">table_rows</i>Frequency Readings Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="tab-pane active" id="profile">
                            <div class="col-md-12">
                                <div class="card card-chart">
                                    <div class="card-header">
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        No
                                                    </th>
                                                    <th>
                                                        Frequency Value
                                                    </th>
                                                    <th>
                                                        Read At
                                                    </th>
                                                </thead>
                                                <tbody >
                                                    <tr *ngFor="let element of readsObs | async;let i = index">
                                                        <td>
                                                            {{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}
                                                        </td>
                                                        <td>
                                                            {{element.frequency}}
                                                        </td>
                                                        <td>
                                                            {{element.readAt}}
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <mat-paginator [pageSize]="15"
                                        [pageSizeOptions]="[3, 5, 10, 15, 20]"></mat-paginator>
                                          
                                    </div>
                                    <div class="card-footer">
    
                                    </div>
                                </div>
                            </div>
                  </div>
                    </div>
                </div>
            </div>
          </div>
        
    </div>
  </div>
  